body {
    margin:  0;
    padding: 0;


}
.color{
    color: #bfd7a0;
    color: #67a272;
    color: #336359;
    color: #a1bd57;
    color: #79994a;
    color: #d0e7a3;
    color: #bfd575;
    color: #88b288;
}
.img-login{
    
}