.txtmain1 {
  color: #a65729;
  padding: 0.5em 0;
  border-top: solid 3px #a65729;
  border-bottom: solid 3px #a65729;
  margin-bottom: 5px;
  }

.txtmain2 {
  color: #000000;
}
.btn-9b6{
  background-color: #9b631c;
  color: #FFFFFF;
}
.color{
  background-color: #9b631c;
  background-color: #a78659;
  background-color: #efe5db;
  background-color: #f5f5f5;
  background-color: #f96d11;
  background-color: #343434;

}